<div class="container">
    <form [formGroup]="formTask" (ngSubmit)="save()">
        <div class="row">
            <div class="col-12">
                <div class="input-group margin-bottom">
                    <input type="text" class="form-control" placeholder="Título" formControlName="title">
                </div>
                <div class="input-group">
                    <textarea placeholder="Texto" class="form-control" rows="3" formControlName="text"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Rótulo</p>
            </div>
        </div>
        <div class="row labels">
            <div *ngFor="let label of labels" class="col-3" [style.background]="label.color">
                <label class="box" for={{label.name}}>
                    <input id={{label.name}} [value]="label.name" type="radio" formControlName="label">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button [disabled]="!formTask.valid"type="submit" class="btn btn-primary btn-block">salvar</button>
            </div>
        </div>
    </form>
</div>

<app-loader [spinner]="spinner"></app-loader>