.container {
    background: white;
    position: relative;
    width: 85%;
    top: -45px;
    height: 74vh;
    box-shadow: -1px -32px 37px -8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    border-radius: 4px;
}

.container::-webkit-scrollbar {
    width: 0px;
}