.container {
    width: 90%;
}

.input-header {
    padding-top: 25px;

    input[type='text'] {
        background: #f59797;
        border: none;
        border-radius: 30px;
        color: white;

        &::placeholder  { 
            text-align: center;
            color: #f8d1d1;
            font-size: 13px;
        }

        &:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        }
    }
}